name: Build and push service

on:
  push:
    paths:
      - 'package.json'
      - 'package-lock.json'
      - '.github/workflows/**'
      - 'build/**'
      - 'src/**'
      - 'static/**'
      - '*.js'
      - '*config*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  extract-service-tag:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/using-jobs/defining-outputs-for-jobs
    outputs:
      version: ${{ steps.service-version.outputs.tag }}
    steps:
      - uses: actions/checkout@v6
      - name: Extract git commit hash
        id: service-version
        # https://stackoverflow.com/questions/58886293/getting-current-branch-and-commit-hash-in-github-action
        run: echo "tag=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_OUTPUT

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install modules
        run: |
          npm ci
      - name: Check code style with linter
        run: |
          npm run lint
      - name: Run tests with coverage
        run: |
          npm run coverage
      - name: Upload coverage to Codecov
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage/coverage-final.json
          token: ${{ secrets.CODECOV_TOKEN }}

  build-and-push-docker-image:
    needs: [extract-service-tag, build-and-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to Docker Hub
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./build/Dockerfile
          build-args: |
            GIT_COMMIT_HASH=${{ needs.extract-service-tag.outputs.version }}
          # https://stackoverflow.com/questions/71679568/github-actions-ignore-or-exclude-dependabot-pull-requests
          push: ${{ github.actor != 'dependabot[bot]' }}
          tags: totocorpsoftwareinc/user-dashboard:${{ needs.extract-service-tag.outputs.version }}

  update-deployment:
    runs-on: ubuntu-latest
    needs: [extract-service-tag, build-and-push-docker-image]
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v6
        with:
          repository: 'Knoblauchpilze/ec2-deployment'
          token: ${{ secrets.DEPLOYMENT_TOKEN }}
      - name: Update service tag
        run: |
          echo "${{ needs.extract-service-tag.outputs.version }}" > ./build/user-dashboard/version.txt
      - name: 'Commit changes'
        run: |
          git pull
          git config --global user.name 'totocorpbot'
          git config --global user.email 'totocorpbot@users.noreply.github.com'
          git commit -am "infra: Bumped user-dashboard version to ${{ needs.extract-service-tag.outputs.version }}"
          git push
